<div class="text-start mb-3">
  <%= link_to "[ Cancel and return to articles listing ]", articles_path, class: "text-info" %>
</div>


<div class="row justify-content-center">
  <div class="col-12 col-md-7">
      <%= render 'shared/errors', obj: @article %>
      <div class="card shadow rounded bg-light">
        <div class="card-body">
          <%= form_with(model: @article, local: true, data: { turbo: false })  do |f| %>
            <div class="mb-3 row">
              <%= f.label :title, class: "col-sm-3 col-lg-2 col-form-label" %>
              <div class="col-sm-9 col-lg-10">
                <%= f.text_field :title, class: "form-control", placeholder: "Title of article" %>
              </div>
            </div>
            <div class="mb-3 row">
              <%= f.label :description, class: "col-sm-3 col-lg-2 col-form-label" %>
              <div class="col-sm-9 col-lg-10">
                <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of article" %>
              </div>
            </div>
            <div class="mb-3 row">
              <%= f.label :category, class: "col-sm-3 col-lg-2 col-form-label" %>
              <div class="col-sm-9 col-lg-10">
                <%= f.collection_select :category_ids, Category.all, :id, :name,
                { prompt: "Make your selection form the list below (can ben empty)" }, { class: "form-select", size: 3, multiple: true } %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col text-center">
                <%= f.submit class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>