<div class="text-start mb-3">
  <%= link_to "[ Cancel and return to articles listing ]", articles_path, class: "text-info" %>
</div>

<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end  %>
  </ul>
<% end %>

<div class="row justify-content-center">
  <div class="col-12 col-md-7">
      <div class="card shadow rounded bg-light">
        <div class="card-body">
          <%= form_with(model: @article, local: true, data: { turbo: false })  do |f| %>
            <div class="mb-3 row">
              <%= f.label :title, class: "col-sm-3 col-lg-2 col-form-label" %>
              <div class="col-sm-9 col-lg-10">
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>
            <div class="mb-3 row">
              <%= f.label :description, class: "col-sm-3 col-lg-2 col-form-label" %>
              <div class="col-sm-9 col-lg-10">
                <%= f.text_area :description, rows: 10, class: "form-control" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col text-center">
                <%= f.submit class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>