<div class="article container">
  <h1 class="text-center mt-5">Listing all articles</h1>

  <div class="text-end mb-3">
    <%= link_to 'Create new article', new_article_path, class: 'btn btn-primary' %>
  </div>

  <div class="article__grid">
    <% @articles.each do |article| %>
    <div class="article__card card mb-5 text-center shadow">
      <header class="article__header card-header fst-italic">By Lenxnos</header>
      <div class="article__body card-body px-4">
        <h5 class="article__title card-title">
          <%= article.title %>
        </h5>
        <p class="text-start article__description card-description">
          <%= truncate(article.description, length: 100) %>
        </p>
        <div>
          <%= link_to "Show", article, class: 'btn btn-success article__link' %>
          <%= link_to "Edit", edit_article_path(article), class: 'btn btn-dark article__link' %>
          <%= link_to "Destroy", article_path(article), class: 'btn btn-danger article__link', data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
        </div>
      </div>
      <footer class="card-footer article__footer text-muted">
        <small>
          Create <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %> ago
        </small>
      </footer>
    </div>
  <% end %>
  </div>
</div>