<div class="container">
  <h1 class="text-center mt-5"><%= @article.title %></h1>

  <div class="text-start mb-3">
    <%= link_to "[ Return to articles listing ]", articles_path, class: "text-info" %>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="article__card card mb-5 text-center shadow">
        <header class="article__header card-header fst-italic">By Lenxnos</header>
        <div class="article__body card-body px-4">
          <div class="text-start article__description card-description">
            <%= simple_format(@article.description) %>
          </div>
          <div>
            <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-dark article__link' %>
            <%= link_to "Destroy", article_path(@article), class: 'btn btn-danger article__link', data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
          </div>
        </div>
        <footer class="card-footer article__footer text-muted">
          <small>
            Create <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %> ago
          </small>
        </footer>
      </div>
    </div>
  </div>
</div>