<section class="container">
  <h1 class="text-center mb-4">Categories</h1>

  <div class="flickr_pagination mb-3">
    <%= will_paginate @categories, :container => false %>
  </div>

  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="category__card card mb-5 text-center shadow">
          <div class="category__body card-body px-4">
            <h5 class="category__title card-title">
              <%= link_to category.name, category_path(category), class: 'category__link' %>
            </h5>
            <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
          </div>
          <footer class="card-footer category__footer text-muted">
            <small>
              Create <%= time_ago_in_words(category.created_at) %> ago, edited <%= time_ago_in_words(category.updated_at) %> ago
            </small>
          </footer>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flickr_pagination mb-3">
    <%= will_paginate @categories, :container => false %>
  </div>

</section>